@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Root yaptık çünkü css ' in her yerinden rootun içinde yazan değerlere
ulaşmak istiyoruz. var fonksiyonu ile ulaşıyorum */

:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark : #363949;
    --color-light : rgba(132, 139, 200, 0.18);
    --color-primary-variant : #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow-1: 0 2rem 3rem var(--color-light);

}

.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0,0,0,0.4);
    --box-shadow-1: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}



.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
    
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.9rem;
}

h3{
    font-size: 1.5rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

/* son 24 saatlik veri diyen kısım */
.text-muted {
    color: var(--color-info-dark) ;
}

p{
    color: var(--color-white);
}

b{
    color: var(--color-white);  
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}


aside {
    height: 100vh;
    position: fixed;
    background: var(--color-dark);
    left: 0;
    padding-right: 30px;

}

aside .top { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;

}
aside .logo img {
    width: 2rem;
    height: 2rem;
    
}

aside .close {
display: none;
}

/* ***************  SİDEBAR *************** */

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;

}

aside h3 {
    font-weight: 500;
    font-size: 15px;
}

aside .sidebar a {
    display: flex;
    color: var(--color-white);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3rem;
    transition: all 300ms ease;
    cursor: pointer;
    margin-bottom: 12px;
}

aside .sidebar a span {
    font-size: 1rem;
    transition: all 300ms ease;
}


aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--color-white);
    color: var(--color-dark);
    margin-left: 0;
    border-radius: var(--border-radius-2);
}

aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-danger);
}

aside .sidebar a.active span {
    color: var(--color-dark);
    margin-left: calc(1rem- 3px);
}


aside .sidebar a:hover {
    color: var(--color-danger);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

aside .sidebar .message-count {
    background: var(--color-white);
    color: var(--color-danger);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

aside .sidebar ul li{
    position: relative;
    height: 50px;
    width: 200px;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    margin-bottom: 15px;
  
}

aside .sidebar ul li .tooltip {
    position: absolute;
    left: 122px;
    top: 0;
    transform: translateY(-120%);
    border-radius: 10px;
    height: 35px;
    width: 110px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;   

}


aside .sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    padding-left: 50px;
    font-size: 18px;
    color: #000;    
    
  

}

aside ul li .material-icons-sharp { 
    position: absolute;
    z-index: 99;
    color: var(--color-danger);
    font-size: 15pxpx;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  
}

